Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 3600
container_commands:
  00_sync_to_s3:
    command: "aws s3 sync public/ s3://ai-product-frontend-public-assets"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false